#home_Body p {
  font-size: 1.8em;
  text-align: center !important;
  font-weight: 300;
}

#home_TopBar p {
  font-size: 26em !important;
}

.development_descriptionImage {
  display: none !important;
}

.development_descriptionText,
.development_descriptionTitle {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#arrow {
  display: none !important;
}

#development_Page {
  padding: 0 !important;
}

#logoHolder p {
  font-size: 10em !important;
}

#home_sideBar {
  display: none !important;
}

#home_Title {
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
}

#home_Title p {
  font-size: 3em !important;
  text-align: center !important;
}

.development_selectorBox i {
  font-size: 4em !important;
}

#development_description {
  height: 26em !important;
}

.development_descriptionText p {
  width: 100% !important;
}

#about {
  height: 140vh !important;
}

.development_descriptionTitle p {
  width: auto !important;
}

#pricingSection .pricingDescription {
  width: 80% !important;
  margin: 0;
}
