#pricingSection {
  width: 100vw;
  min-height: 20em;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #f2f2f2;
  flex-direction: column;
  position: relative;
}

#pricingSection .title {
  font-size: 4em;
  margin: 0;
  font-weight: 900;
  color: #444;
  text-align: center;
  margin: 4rem;
}

#pricingSection .pricingDescription {
  color: #444;
  font-size: 1.4em;
  margin: 0.4em;
  font-weight: 800;
  letter-spacing: 3px;
  text-align: center;
}

.pricingDescription {
  margin: 0;
}

.pricingDescription.heading {
  margin: 2rem;
}

.featureExampleSection {
  background-color: #2DB4B4;
  padding-bottom: 4rem;
  margin-top: 4rem;
  width: 100vw;
  flex-direction: column;
}

.featureExampleSection li {
  font-size: 2em;
  margin: 0;
  font-weight: 900;
  color: #d7d7d7;
  letter-spacing: 3px;
}

.big {
  font-size: 1.1em;
  font-weight: 800;
}
